/**
1. GLOBAL
2. STAGE PAGE
3. LAYER 1
4. LAYER 2
5. LAYER 3
6. LAYER 4
7. LAYER 5
8. LAYER 6
9. LAYER 7
10. LAYER 8
11. LAYER 9
12. BUTTONS
13. HOME PAGE
14. ADMIN PAGE
15. LOGIN PAGE
16. PASSWORD RESET PAGE
17. 404 PAGE
 */

/********** 1. GLOBAL **********/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 18px;
    font-family: Tahoma, sans-serif;
}
body>.content{
    min-height: 420px;
}
@media screen and (max-width: 600px){
    body{
        font-size: 14px;
        line-height: 16px;
    }
}

/********** 2. STAGE PAGE **********/
.stage-page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}
@media screen and (max-width: 1024px) and (min-aspect-ratio:8/5){
    /* Tablet horizontal mode */
    .stage-page .layer-1{
        display: none;
    }
    .stage-page .layer-2{
        height: 100%;
    }
    .stage-page .layer-2 .figure-left{
        display: none;
    }
    .stage-page .layer-2 .figure-right{
        display: none;
    }
    .stage-page .layer-2 .figure-mob{
        display: none;
    }
    .stage-page .layer-2 .figure-tablet{
        display: block;
    }
    .stage-page .layer-3{
        display: block;
    }
    .stage-page .layer-4{
        top: 5%;
        left: 8%;
    }
    .stage-page .layer-4 a img{
        max-width: 130px;
    }
    .stage-page .layer-6 .row.current a.link-text{
        border-bottom: 1px solid #08f1af;
    }
    .stage-page .layer-7 {
        top: 15%;
        right: 2%;
        width: 53%;
        max-width: 100%;
        margin: 0;
    }
    .stage-page .layer-8{
        display: none;
    }
}
@media screen and (max-width: 600px) and (min-aspect-ratio:8/5){
    .stage-page .layer-7{
        width: 60%;
    }
}
@media screen and (max-width: 460px) and (max-height: 740px){
    .stage-page .layer-4 {
        left: auto;
        right: 15px;
        bottom: 229px;
        top: auto;
    }
    .stage-page .layer-4 img{
        max-width: 130px;
        background: #313130;
        border-radius: 3px;
        padding: 10px;
        -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.58);
        -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.58);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.58);
    }
}
@media screen and (max-width: 350px) and (max-height: 580px){
    .stage-page .layer-4 a img {
        max-width: 100px;
    }
}

@media screen and (max-width: 600px) and (max-height: 1024px){
    .stage-page .layer-5{
        right: 15px;
        top: auto;
        bottom: 143px;
        left: auto;
        text-shadow: 1px 1px 1px #00583f;
    }
    .stage-page .layer-5 .row{
        margin: 0 0 2px 0;
    }
    .stage-page .layer-5 .bs-button{
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 1.2em;
    }
    .layer-5 .row a{
        font-size: 0.9em;
    }
    @media (max-height: 800px) {
        .stage-page .layer-5{
            bottom: 10px;
        }
    }
    @media screen and (max-width: 460px) and (max-height: 740px){
        .stage-page .layer-5{
            bottom: 114px;
        }
    }
}
@media screen and (max-height: 400px){
    .stage-page .layer-5{
        text-shadow: 1px 1px 1px #00583f;
    }
    .stage-page .layer-5 .bs-button{
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 1.2em;
    }
    .stage-page .layer-5 .row{
        margin: 0 0 2px 0;
    }
}
/********** 3. LAYER 1 **********/
.layer-1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    background-image: url('../img/mz_239248.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
@media screen and (max-width: 600px){
    .layer-1{
        display: none;
    }
}

/********** 4. LAYER 2 **********/
.layer-2{
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 3;
}
.layer-2 .figure-left{
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 700px;
    top: 0;
    left: 0;
    z-index: 5;
    background-image: url('../img/fon-1-1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.layer-2 .figure-right{
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 700px;
    top: 0;
    right: 0;
    z-index: 4;
    background-image: url('../img/fon-2-2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.layer-2 .figure-mob{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 5;
    background-image: url('../img/mob-back.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.layer-2 .figure-tablet{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 5;
    background-image: url('../img/tablet-horizontal.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
    .layer-2 .figure-left{
        display: none;
    }
    .layer-2 .figure-right{
        display: none;
    }
    .layer-2 .figure-mob{
        display: block;
    }
}

/********** 5. LAYER 3 **********/
.layer-3{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background-image: url('../img/grid-gray-2.png');
    background-color: #000;
    background-position: center;
    background-size: 120px;
    background-repeat: repeat;
}
@media screen and (max-width: 600px){
    .layer-3{
        display: block;
    }
}

/********** 6. LAYER 4 **********/
.layer-4{
    position: absolute;
    top: 3%;
    left: 11%;
    z-index: 6;
}
.layer-4 a{
    display: block;
}
.layer-4 a img{
    max-width: 200px;
}
@media screen and (max-width: 600px){
    .layer-4{
        left: 6%;
    }
    .layer-4 a img{
        max-width: 120px;
    }
}

/********** 7. LAYER 5 **********/
.layer-5{
    position: absolute;
    z-index: 6;
    right: 3%;
    bottom: 15px;
}
.layer-5 .row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 7px 0;
}
.layer-5 .row button{
    margin: 0 10px 0 0;
}
.layer-5 .row button.bs-fa-phone,
.layer-5 .row button.bs-fa-map-marker{
    font-size: 1.4em;
}
.layer-5 .row a{
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    color: #ddf9df;
    padding: 0 0 3px 0;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.layer-5 .row a:hover{
    color: #038c65;
}
.layer-5 .row a:nth-child(2){
    border-bottom: 1px solid #ddf9df;
}
.layer-5 .row a:nth-child(2):hover{
    border-bottom: 1px solid #038c65;
}
@media screen and (max-width: 600px){
    .layer-5 {
        right: 8px;
        top: 40%;
        bottom: auto;
    }
}
@media screen and (max-width: 600px) and (max-height: 700px){
    .layer-5 {
        top: auto;
        bottom: 40%;
        z-index: 8;
    }
    .layer-5 .row a{
        text-shadow: 1px 1px 2px #000;
    }
}
@media screen and (max-width: 600px) and (max-height: 620px){
    .layer-5 {
        bottom: 38%;
    }
}
@media screen and (max-width: 600px) and (max-height: 555px){
    .layer-5 {
        bottom: 35%;
    }
}
@media screen and (max-width: 600px) and (max-height: 555px){
    .layer-5 {
        bottom: 25%;
    }
}
@media screen and (max-width: 350px) and (max-height: 700px){
    .layer-5 {
        bottom: 30%;
        font-size: 0.9em;
    }
}
@media screen and (max-width: 600px) and (max-height: 400px){
    .layer-5{
        top: auto;
        right: 4%;
        bottom: 3%;
        left: auto;
    }
}
@media screen and (max-width: 450px) and (max-height: 350px){
    .layer-5{
        bottom: auto;
        top: 4%;
        left: 2%;
        padding: 109px 0 0 0;
    }
}

/********** 8. LAYER 6 **********/
.layer-6{
    position: absolute;
    width: 50%;
    z-index: 7;
    left: 4%;
    bottom: 40px;
}
.layer-6 .row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 10px 0;
}
.layer-6 .row button{
    margin: 0 10px 0 0;
    -webkit-flex: 0 0 33px;
    -ms-flex: 0 0 33px;
    flex: 0 0 33px;
}
.layer-6 .row a.link-text{
    color: #ddf9df;
    text-decoration: none;
    padding: 0 0 6px 0;
    border-bottom: 1px solid #08f1af;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.layer-6 .row a.link-text:hover{
    color: #08f1af;
}
.layer-6 .row.passed button{
    color: #c3e4da;
    background: #038c65;
    border: 1px solid #027c59;
    -moz-box-shadow: 1px 1px 2px 1px rgb(7, 76, 56);
    -webkit-box-shadow: 1px 1px 2px 1px rgb(7, 76, 56);
    box-shadow: 1px 1px 2px 1px rgb(7, 76, 56);
}
.layer-6 .row.current a.link-text{
    border-bottom: 0;
}
.layer-6 .row:nth-child(1) a{max-width: 35%;}
.layer-6 .row:nth-child(2) a{max-width: 42%;}
.layer-6 .row:nth-child(3) a{max-width: 48%;}
.layer-6 .row:nth-child(4) a{max-width: 54%;}
.layer-6 .row:nth-child(5) a{max-width: 61%;}
.layer-6 .row:nth-child(6) a{max-width: 67%;}
.layer-6 .row:nth-child(7) a{max-width: 73%;}
.layer-6 .row:nth-child(8) a{max-width: 79%;}
.layer-6 .row:nth-child(9) a{max-width: 85%;}

@media screen and (max-width: 600px){
    .layer-6{
        width: 96%;
        left: 2%;
        bottom: 5px;
    }
    .layer-6 .row.current a.link-text{
        border-bottom: 1px solid #08f1af;
    }
    .layer-6 .row{
        margin: 0 0 6px 0;
    }
}
@media screen and (max-width: 980px){
    .layer-6 .row:nth-child(1) a{max-width: 32%;}
    .layer-6 .row:nth-child(2) a{max-width: 39%;}
    .layer-6 .row:nth-child(3) a{max-width: 45%;}
    .layer-6 .row:nth-child(4) a{max-width: 51%;}
    .layer-6 .row:nth-child(5) a{max-width: 58%;}
    .layer-6 .row:nth-child(6) a{max-width: 64%;}
    .layer-6 .row:nth-child(7) a{max-width: 70%;}
    .layer-6 .row:nth-child(8) a{max-width: 76%;}
    .layer-6 .row:nth-child(9) a{max-width: 82%;}
}
@media screen and (max-width: 1366px) and (max-height: 768px){
    .layer-6{
        left: 2%;
        bottom: 15px;
    }
    .layer-6 .bs-button{
        width: 27px;
        height: 27px;
        line-height: 27px;
    }
}
@media screen and (max-width: 1280px) and (max-height: 800px){
    .layer-6{
        left: 2%;
        bottom: 5px;
    }
    .layer-6 .bs-button{
        width: 27px;
        height: 27px;
        line-height: 27px;
    }
}
@media screen and (max-width: 1024px) and (max-height: 600px){
    .layer-6 .bs-button {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .layer-6 .row{
        margin: 0 0 7px 0;
    }
}
@media screen and (max-width: 700px) and (max-height: 400px){
    .layer-6 .row{
        margin: 0 0 4px 0;
    }
    .layer-6 .row button{
        width: 22px;
        height: 22px;
        line-height: 22px;
        font-size: 1em;
    }
    .layer-6 .row a.link-text{
        padding: 0 0 3px 0;
    }
}
@media screen and (max-width: 600px) and (max-height: 800px){
    .layer-6{
        max-width: 165px;
    }
}
@media screen and (max-width: 600px) and (max-height: 400px){
    .layer-6 .row a.link-text,
    .stage-page .layer-6 .row.current a.link-text{
        border-bottom: none;
    }
}
@media
screen and (max-width: 450px) and (max-height: 800px),
screen and (max-width: 600px) and (max-height: 500px) {
    .layer-6 .row a.link-text,
    .stage-page .layer-6 .row.current a.link-text{
        border-bottom: none;
    }
}
@media screen and (max-width: 450px) and (max-height: 600px){
    .layer-6{
        left: 2%;
        bottom: 5px;
    }
    .layer-6 .row{
        display: block;
        float: left;
        margin: 0 5px 5px 0;
    }
    .layer-6 .row a{
        text-decoration: none;
    }
    .layer-6 .row button{
        margin: 0 3px 0 0;
    }
}

/********** 9. LAYER 7 **********/
.layer-7{
    position: absolute;
    z-index: 6;
    top: 13%;
    right: 8%;
    width: 46%;
    max-width: 650px;
}
.layer-7 .inner img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 0 auto;
    border: 7px solid #00a173;
    -moz-box-shadow: 1px 1px 2px 1px #053829;
    -webkit-box-shadow: 1px 1px 2px 1px #053829;
    box-shadow: 1px 1px 2px 1px #053829;
}
.layer-7 iframe{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 0 auto;
    border: 7px solid #00a173;
    -moz-box-shadow: 1px 1px 2px 1px #053829;
    -webkit-box-shadow: 1px 1px 2px 1px #053829;
    box-shadow: 1px 1px 2px 1px #053829;

}
.layer-7 video{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 0 auto;
    border: 7px solid #00a173;
    -moz-box-shadow: 1px 1px 2px 1px #053829;
    -webkit-box-shadow: 1px 1px 2px 1px #053829;
    box-shadow: 1px 1px 2px 1px #053829;

}
.layer-7 .owl-theme .owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -16px;
    padding: 0 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.layer-7 .inner .owl-carousel{
    background: #000;
    border: 7px solid #00a173;
    -moz-box-shadow: 1px 1px 2px 1px #053829;
    -webkit-box-shadow: 1px 1px 2px 1px #053829;
    box-shadow: 1px 1px 2px 1px #053829;
}
.layer-7 .inner .owl-carousel .owl-item,
.layer-7 .inner .owl-carousel .owl-item img{
    max-height: 500px;
}
.layer-7 .inner .owl-carousel img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 0 auto;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.layer-7 .inner .owl-carousel video{
    width: 100%;
    max-height: inherit;
    border: none;
    box-shadow: none;
}
.layer-7 .inner .owl-carousel iframe{
    max-height: inherit;
    border: none;
    box-shadow: none;
}
.owl-theme .owl-nav [class*=owl-]{
    color: #02b884;
    background: #40494c;
    opacity: 0.6;
    border-radius: 50%;
    font-size: 2em;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: #40494c;
    color: #02b884;
    opacity: 1;
}
.layer-7 .owl-carousel .owl-nav .owl-prev{
    position: absolute;
    left: 0;
    padding: 3px 16px 4px 11px;
}
.layer-7 .owl-carousel .owl-nav .owl-next{
    position: absolute;
    right: 0;
    padding: 3px 13px 4px 14px;
}
@media screen and (max-width: 600px){
    .layer-7{
        top: 6%;
        margin: 78px 0 0 0;
        right: 2%;
        width: 96%;
    }
}
@media screen and (max-height: 800px){
    .layer-7{
        top: 13%;
    }
    .layer-7 .inner .owl-carousel .owl-item,
    .layer-7 .inner .owl-carousel .owl-item img{
        max-height: 400px;
    }
}
@media screen and (max-width: 600px) and (max-height: 800px){
    .layer-7{
        width: auto;
        right: 15px;
        left: auto;
        max-width: 60%;
        margin: 80px 0 0 0;
    }
    .layer-7 .inner .content img{
        display: block;
        max-width: 100%;
        max-height: 260px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 600px) and (max-height: 690px){
    .layer-7 .inner .owl-carousel .owl-item,
    .layer-7 .inner video,
    .layer-7 .inner img,
    .layer-7 .inner iframe,
    .layer-7 .inner .owl-carousel .owl-item img{
        max-height: 300px;
    }
}
@media screen and (max-width: 600px) and (max-height: 570px){
    .layer-7 .inner .owl-carousel .owl-item,
    .layer-7 .inner video,
    .layer-7 .inner img,
    .layer-7 .inner iframe,
    .layer-7 .inner .owl-carousel .owl-item img{
        max-height: 240px;
    }
}
@media screen and (max-width: 460px) and (max-height: 740px){
    .layer-7{
        margin: 0;
        max-width: 100%;
        top: 10px;
        right: 10px;
        left: 10px;
    }
}
@media screen and (max-height: 500px){
    .layer-7 .inner img,
    .layer-7 .inner video,
    .layer-7 .inner iframe,
    .layer-7 .inner .owl-carousel .owl-item,
    .layer-7 .inner .owl-carousel .owl-item img{
        max-height: 350px;
    }
}
@media screen and (max-height: 450px){
    .layer-7 .inner img,
    .layer-7 .inner video,
    .layer-7 .inner iframe,
    .layer-7 .inner .owl-carousel .owl-item,
    .layer-7 .inner .owl-carousel .owl-item img{
        max-height: 320px;
    }
}
@media screen and (max-height: 400px){
    .layer-7 .inner img,
    .layer-7 .inner video,
    .layer-7 .inner iframe,
    .layer-7 .inner .owl-carousel .owl-item,
    .layer-7 .inner .owl-carousel .owl-item img{
        max-height: 280px;
    }
}
@media screen and (max-height: 350px){
    .layer-7 .inner img,
    .layer-7 .inner video,
    .layer-7 .inner iframe,
    .layer-7 .inner .owl-carousel .owl-item,
    .layer-7 .inner .owl-carousel .owl-item img{
        max-height: 240px;
    }
}
@media screen and (max-width: 350px),
screen and (max-height: 500px){
    .layer-7 .inner img,
    .layer-7 .inner video,
    .layer-7 .inner iframe,
    .layer-7 .inner .owl-carousel .owl-item,
    .layer-7 .inner .owl-carousel .owl-item img{
        max-height: 200px;
    }
}
@media screen and (max-height: 320px){
    .layer-7{
        margin: 0;
        top: 58px;
        bottom: auto;
    }
    .layer-7 .inner img,
    .layer-7 .inner video,
    .layer-7 .inner iframe,
    .layer-7 .inner .owl-carousel .owl-item,
    .layer-7 .inner .owl-carousel .owl-item img{
        max-height: 230px;
    }
}

/********** 10. LAYER 8 **********/
.layer-8{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 5;
}
.layer-8 .line-bottom{
    position: absolute;
    background: #08f1af;
    height: 1px;
}
.layer-8 .line-vertical{
    position: absolute;
    background: #08f1af;
    width: 1px;
}
.layer-8 .line-top{
    position: absolute;
    background: #08f1af;
    height: 1px;
}
@media screen and (max-width: 600px){
    .layer-8{
        display: none;
    }
}
/********** 11. LAYER 9 **********/
.layer-9{
    position: absolute;
    width: 90%;
    left: 50%;
    top: 15%;
    padding: 104px 0 0 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9;
    text-align: center;
}
.layer-9 h2{
    color: #FFF;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0 0 15px 0;
}
.layer-9 form{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.layer-9 form .block-1{
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}
.layer-9 form .block-2{
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    text-align: center;
}
.layer-9 form input{
    display: block;
    width: 60%;
    max-width: 280px;
    margin: 0 auto 3px auto;
    border: 1px solid #40494c;
    padding: 0 0 0 14px;
    outline: none;
    font-size: 1.1em;
    line-height: 2em;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 2px 2px rgba(64, 73, 76, 0.6);
    -moz-box-shadow: inset 1px 1px 2px 2px rgba(64, 73, 76, 0.6);
    box-shadow: inset 1px 1px 2px 2px rgba(64, 73, 76, 0.6);
    -webkit-appearance: none;
}
.layer-9 form input[type="submit"]{
    background: #02b884;
    border: 2px solid #00a173;
    border-top-color: #00d498;
    border-bottom-color: #01845e;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.63);
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    width: auto;
    padding: 0 35px;
}
.layer-9 form input[type="submit"]:hover,
.layer-9 form input[type="submit"]:active{
    background: #03966c;
    color: rgba(255, 255, 255, 0.7);
    border: 2px solid #008761;
    border-top-color: #036b4a;
    border-left-color: #036b4a;
    border-bottom-color: #00a977;
    text-shadow: none;
}
.layer-9 form label{
    display: block;
    color: #FFF;
    margin: 0 0 10px 0;
}
@media screen and (max-width: 600px){
    .layer-9{
        padding: 65px 0 0 0;
        top: 6%;
    }
    .layer-9 h2{
        font-size: 1.1em;
        line-height: 1.1em;
        margin: 0 0 8px 0;
    }
    .layer-9 form label{
        margin: 0 0 8px 0;
    }
}
@media screen and (max-width: 400px){
    .layer-9 form input{
        width: 85%;
        line-height: 1.8em;
    }
}
@media screen and (max-width: 800px) and (max-height: 480px){
    .layer-9{
        width: 50%;
        max-width: 310px;
        padding: 0;
        left: auto;
        right: 5%;
        top: 7%;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        text-align: left;
    }
    .layer-9 h2{
        display: none;
        font-size: 1.1em;
        line-height: 1.3em;
    }
    .layer-9 form input{
        width: 100%;
        max-width: 100%;
        margin: 0 0 3px 0;
    }
}
@media screen and (max-width: 350px) and (max-height: 585px){
    .layer-9 {
        padding: 0;
        top: 85px;
    }
    .layer-9 h2{
        margin: 0 0 8px 0;
    }
    .layer-9 form input{
        font-size: 1.3em;
        line-height: 1.5em;
        margin: 0 auto 1px auto;
    }
    .layer-9 form label{
        margin: 0 0 5px 0;
    }
}
@media screen and (max-width: 320px) and (max-height: 480px){
    .layer-9 {
        top: 4%;
    }
    .layer-9 h2{
        font-size: 1.2em;
        line-height: 1em;
        text-align: center;
        margin: 0 0 3px 0;
        font-weight: 400;
    }
}
/********** 12. LAYER 10 **********/
.layer-10{
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 6;
}
.layer-10 ul{
    list-style: none;
}
.layer-10 ul li{
    padding: 5px 0;
    vertical-align: middle;
    display: inline-block;
}
.layer-10 ul:after{
    content: '';
    display: table;
    clear: both;
}
.layer-10 ul li a,
.layer-10 ul li span{
    display: inline-block;
    color: #FFF;
    padding: 0 20px;
    border-right: 1px solid #0affba;
    white-space: nowrap;
    text-decoration: none;
}
.layer-10 ul li:last-child a,
.layer-10 ul li:last-child span{
    border-right: 0;
}
.layer-10 ul li a:hover{
    color: #0affba;
    text-decoration: underline;
}
.layer-10 ul li input[type=submit]{
    background: transparent;
    border: 2px solid #0affba;
    color: #0affba;
    padding: 5px 23px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.layer-10 ul li input[type=submit]:hover{
    background: #0affba;
    color: #4d4d4d;
}
@media screen and (max-width: 600px){
    .layer-10{
        top: 5px;
    }
    .layer-10 ul li a,
    .layer-10 ul li span{
        border-right: 0;
        color: #0affba;
        text-decoration: underline;
        font-size: 1.2em;
    }
    .layer-10 ul li{
        display: block;
        float: none;
        padding: 5px 0;
        text-align: right;
    }
}
@media screen and (max-width: 600px) and (max-height: 355px){
    .layer-10 ul li{
        display: inline-block;
    }
}
@media screen and (max-width: 460px) and (max-height: 740px){
    .layer-10{
        top: auto;
        bottom: 15px;
        right: 15px;
        left: auto;
        text-shadow: 1px 1px 1px #0a3a2c;
    }
    .layer-10 ul li input[type=submit]{
        text-shadow: 1px 1px 1px #0a3a2c;
        -webkit-box-shadow: 1px 1px 1px 1px rgba(10, 58, 44, 0.39);
        -moz-box-shadow: 1px 1px 1px 1px rgba(10, 58, 44, 0.39);
        box-shadow: 1px 1px 1px 1px rgba(10, 58, 44, 0.39);
    }
}
@media screen and (max-width: 600px) {
    .layer-10 ul li a,
    .layer-10 ul li span{
        padding: 0 5px;
    }
}

/********** 12. BUTTONS **********/
.bs-button{
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    outline: none;
    font-size: 1.2em;
    font-weight: bold;
}
.bs-white{
    color: #40494c;
    background: #ddf9df;
    border: 1px solid #989898;
}
.bs-button.bs-white:hover{
    color: #c3e4da;
    background: #038c65;
    border: 1px solid #027c59;
    -moz-box-shadow: 1px 1px 2px 1px rgb(7, 76, 56);
    -webkit-box-shadow: 1px 1px 2px 1px rgb(7, 76, 56);
    box-shadow: 1px 1px 2px 1px rgb(7, 76, 56);
}
@media screen and (max-width: 600px){
    .bs-button{
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
}

/********** 13. HOME PAGE **********/
.home-page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}
.home-page .layer-1{
    display: none;
}
.home-page .layer-3{
    display: block;
}
.home-page .layer-4{
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.error-message {
    color: #cd1919;
    background-color: #ffffff;
    width: 100%;
    max-width: 278px;
    margin: 0 auto 20px auto;
    border-radius: 3px;
    padding: 7px 25px;
    font-size: 1em;
    -webkit-box-shadow: inset 0 0 5px 2px #cd1919;
    -moz-box-shadow: inset 0 0 5px 2px #cd1919;
    box-shadow: inset 0 0 5px 2px #cd1919;
}
@media screen and (max-width: 600px){
    .home-page .layer-4{
        top: 10px;
        left: 20px;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@media screen and (max-width: 800px) and (max-height: 480px){
    .home-page .layer-4{
        left: 4%;
        top: 5%;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .layer-4 a img {
        max-width: 150px;
    }
}
@media screen and (max-width: 600px) and (max-height: 800px){
    .home-page .layer-5 {
        bottom: 15px;
        left: auto;
        right: 15px;
        top: auto;
    }
}
@media screen and (max-width: 460px) and (max-height: 740px){
    .home-page .layer-10{
        top: 15px;
        bottom: auto;
        right: 15px;
        left: auto;
        text-shadow: none;
    }
}
@media screen and (max-width: 350px) and (max-height: 550px){
    .home-page .layer-4{
        left: 4%;
        top: 2%;
    }
    .layer-4 a img {
        max-width: 100px;
    }
}
@media screen and (max-height: 350px){
    .layer-4 a img {
        max-height: 58px;
    }
}

/********** 14. ADMIN PAGE **********/
.admin-page{
    padding: 32px 0 0 0;
    font-size: 15px;
    min-height: 100vh;
}
.admin-page .page-inner{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}
/* inputs */
.admin-page input[type=text],
.admin-page input[type=email],
.admin-page input[type=password],
.admin-page input[type=tel]{
    width: 100%;
    max-width: 350px;
    padding: 0 0 0 15px;
    font-size: 1em;
    line-height: 1.7em;
    border: 1px solid #bbbaba;
    -webkit-box-shadow: inset 1px 1px 2px 1px rgba(204, 204, 204, 0.3);
    -moz-box-shadow: inset 1px 1px 2px 1px rgba(204, 204, 204, 0.3);
    box-shadow: inset 1px 1px 2px 1px rgba(204, 204, 204, 0.3);
}
.admin-page input[type=text]:focus,
.admin-page input[type=email]:focus,
.admin-page input[type=password]:focus,
.admin-page input[type=tel]:focus{
    outline-color: #00d498;
}
.admin-page input[type=submit]{
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 7px 16px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    background: #049e72;
    border-color: #0ba97c #049e72 #049e72;
    -webkit-box-shadow: 0 1px 0 #049168;
    box-shadow: 0 1px 0 #049168;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #047f5c, 1px 0 1px #047f5c, 0 1px 1px #047f5c, -1px 0 1px #047f5c;
}
.admin-page input[type=submit]:hover{
    background: #04b37f;
    border-color: #049f72;
    color: #fff;
}
.admin-page input[type=checkbox]{
    width: 17px;
    height: 17px;
    margin: 0 5px;
    cursor: pointer;
    vertical-align: middle;
}

/* Top panel */
.admin-page .top-panel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    background: #40494c;
    color: #e4e4e4;
    overflow: hidden;
}
.admin-page .top-panel ul{
    list-style: none;
}
.admin-page .top-panel ul li{
    display: block;
    float: left;
    vertical-align: middle;
    color: #e4e4e4;
}
#console-toggle{
    display: none;
}
.admin-page .top-panel ul li.exit-button{
    float: right;
}
.admin-page .top-panel ul li.exit-button:hover{
    background: transparent;
}
.admin-page .top-panel ul li.exit-button form{
    padding: 4px 15px 0 0;
}
.admin-page .top-panel ul li.exit-button input[type=submit]{
    display: inline-block;
    color: #0affba;
    background: transparent;
    border: 1px solid #0affba;
    padding: 3px 11px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.admin-page .top-panel ul li.exit-button input[type=submit]:hover{
    background: #049e72;
    border: 1px solid #049e72;
    color: #FFF;
}
.admin-page .top-panel ul:after{
    content: '';
    display: table;
    clear: both;
}
.admin-page .top-panel ul li i{
    margin: 0 4px 0 0;
}
.admin-page .top-panel a{
    display: block;
    padding: 7px 10px;
    text-decoration: none;
    color: #e4e4e4;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.admin-page .top-panel ul li.active,
.admin-page .top-panel ul li.active a,
.admin-page .top-panel ul li:hover,
.admin-page .top-panel ul li:hover a{
    color: #00d498;
    background: #2a3031;
}
@media screen and (max-width: 800px){
    .admin-page{
        padding: 40px 0 0 0;
    }
    .admin-page .top-panel{
        font-size: 1.2em;
        height: 40px;
    }
    .admin-page .top-panel a{
        padding: 11px;
    }
    .admin-page .top-panel ul li.exit-button form{
        padding: 7px 15px 0 0;
    }
    .admin-page .top-panel ul li.exit-button input[type=submit]{
        padding: 4px 13px;
    }
}
@media screen and (max-width: 600px){
    #console-toggle{
        display: block;
    }
}

/* Left panel */
.admin-page .left-panel{
    background: #40494c;
    -webkit-flex: 0 0 160px;
    -ms-flex: 0 0 160px;
    flex: 0 0 160px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.admin-page .left-panel ul.general-menu{
    list-style: none;
}
.admin-page .left-panel ul.general-menu>li{
    display: block;
}
.admin-page .left-panel ul.general-menu>li>a{
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 35px;
    color: #e4e4e4;
    white-space: nowrap;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.admin-page .left-panel ul.general-menu>li>a>i{
    margin: 0 5px 0 0;
}
.admin-page .left-panel ul.general-menu>li>a:hover{
    background: #2a3031;
    color: #00d498;
}
.admin-page .left-panel ul.general-menu>li.active>a:hover{
    background: #049e72;
    color: #e4e4e4;
}
.admin-page .left-panel ul.general-menu>li.active>a{
    background: #049e72;
    white-space: nowrap;
}
.admin-page .left-panel ul.general-menu>li.active>ul.sub-menu{
    display: block;
}
.admin-page .left-panel ul.sub-menu{
    display: none;
    background: #525d61;
}
.admin-page .left-panel ul.sub-menu li{
    display: block;
}
.admin-page .left-panel ul.sub-menu>li>a{
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 27px;
    font-size: .8em;
    color: #e4e4e4;
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.admin-page .left-panel ul.sub-menu>li>a:hover{
    color: #0affba;
}
.admin-page .left-panel ul.sub-menu>li>a.active{
    color: #FFF;
    font-weight: bold;
}
@media screen and (max-width: 800px){
    .admin-page .left-panel{
        -webkit-flex: 0 0 40px;
        -ms-flex: 0 0 40px;
        flex: 0 0 40px;
    }
    .admin-page .left-panel ul.general-menu>li>a>i{
        margin: 0;
        font-size: 1.3em;
    }
    .admin-page .left-panel ul.general-menu>li>a>span{
        display: none;
    }
    .admin-page .left-panel ul.general-menu>li.active>ul.sub-menu{
        display: none;
    }
    .admin-page .left-panel ul.general-menu>li{
        position: relative;
    }
    .admin-page .left-panel ul.general-menu>li:hover ul.sub-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 40px;
    }
    .admin-page .left-panel ul.sub-menu>li>a{
        padding: 10px 30px 10px 20px;
        line-height: 1em;
        font-size: 1em;
    }
}
@media screen and (min-width: 600px) and (max-width: 800px){
    .admin-page .left-panel ul.general-menu>li ul.sub-menu.tablet_visible{
        display: block;
        position: absolute;
        top: 0;
        left: 40px;
    }
}
@media screen and (max-width: 600px){
    .admin-page .left-panel{
        display: none;
    }
    .admin-page .left-panel.active{
        display: block;
    }
    .admin-page .left-panel.active{
        -webkit-flex: 0 0 160px;
        -ms-flex: 0 0 160px;
        flex: 0 0 160px;
    }
    .admin-page .left-panel.active ul.general-menu>li>a>i{
        margin: 0 5px 0 0;
        font-size: 1.3em;
    }
    .admin-page .left-panel.active ul.general-menu>li.active>a>span,
    .admin-page .left-panel.active ul.general-menu>li>a>span{
        display: inline;
        font-size: 1.3em;
    }
    .admin-page .left-panel.active ul.general-menu>li.active>ul.sub-menu{
        display: block;
    }
    .admin-page .left-panel.active ul.general-menu>li{
        position: static;
    }
    .admin-page .left-panel.active ul.general-menu>li:hover ul.sub-menu{
        display: inherit;
        position: static;
    }
    .admin-page .left-panel.active ul.sub-menu>li>a{
        padding: 10px 20px;
        line-height: 1.1em;
        font-size: 1.1em;
    }
}

/* Right panel */
.admin-page .right-panel{
    background: #F1F1F1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: #22292c;
}
.admin-page .right-panel .inner{
    padding: 20px;
}
.admin-page .right-panel .title{
    margin: 0 0 20px 0;
    font-size: 1.3em;
    line-height: 1.5em;
}

/* Right panel - Items list */
.admin-page .right-panel .content{
    background: #FFF;
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin: 0 0 20px 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.admin-page .right-panel .items-list{
    width: 100%;
    border-collapse: collapse;
}
.admin-page .right-panel .items-list{
    border: 1px solid #e5e5e5;
}
.admin-page .right-panel .items-list thead{
    background: #F5F5F5;
    text-align: left;
}
.admin-page .right-panel .items-list thead th{
    padding: 10px 5px;
    border-right: 1px solid #e5e5e5;
    text-align: center;
}
.admin-page .right-panel .items-list tbody td{
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.admin-page .right-panel .items-list tbody td:first-child{
    text-align: center;
}

/* Right panel - Messages */
.admin-page .right-panel .messages{
    margin: 0 0 20px 0;
}
.admin-page .right-panel .messages ul{
    list-style: none;
}
.admin-page .right-panel .messages ul li{
    display: block;
    padding: 9px 15px;
    margin: 0 0 5px 0;
    background: #FFF;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.admin-page .right-panel .messages ul li:last-child{
    margin: 0;
}
.admin-page .right-panel .messages ul li.info{
    border-left: 4px solid green;
    color: green;
}
.admin-page .right-panel .messages ul li.error{
    border-left: 4px solid #c70e0e;
    color: #c70e0e;
}
.admin-page .right-panel .messages ul li.warning{
    border-left: 4px solid #e69d0e;
    color: #e69d0e;
}

/* Right panel - Stage list */
.admin-page .right-panel .items-list tbody td.purchase-number-sell a{
    color: #049e72;
    text-decoration: none;
}
.admin-page .right-panel .items-list tbody td.purchase-number-sell a:hover{
    text-decoration: underline;
}
.admin-page .right-panel .items-list tbody td.purchases-actions{
    text-align: center;
}
.admin-page .right-panel .items-list tbody td.purchases-actions form{
    padding: 3px 0;
}
.admin-page .right-panel .items-list tbody td.purchases-actions input[type=submit]{
    display: inline-block;
    color: #049e72;
    background: 0 0;
    border: 1px solid #049e72;
    padding: 3px 11px;
    border-radius: 10px;
    cursor: pointer;
    text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.admin-page .right-panel .items-list tbody td.purchases-actions input[type=submit]:hover{
    color: #FFF;
    background: #049e72;
}
/* Right panel - Purchase edit */
.admin-page .attachment-wrap{
    display: inline-block;
    border: 1px solid #e5e5e5;
    vertical-align: middle;
}
.admin-page .attachment-wrap .attachment-content img{
    display: block;
    width: 100%;
    height: auto;
    max-width: 200px;
}
.admin-page .attachment-wrap .attachment-content video{
    display: block;
    width: 100%;
    height: auto;
    max-width: 200px;
}
.admin-page .attachment-wrap .actions-buttons{
    border-top: 1px solid #e5e5e5;
    padding: 3px 5px;
    background: #f1f1f1;
    text-align: center;
}
.admin-page .attachment-wrap .actions-buttons .button{
    display: inline-block;
}
.admin-page .attachment-wrap .actions-buttons .delete-button i{
    color: #c70e0e;
    font-size: 1.3em;
}
.admin-page .attachment-wrap .actions-buttons .delete-button i:hover{
    cursor: pointer;
    color: #e70e0e;
}
.admin-page .attachment-wrap .actions-buttons .delete-button form{
    display: none;
    opacity: 0;
}
.admin-page .attachment-add-block{
    text-align: center;
    font-size: 1.6em;
}
.admin-page .attachment-add-block i{
    color: green;
    cursor: pointer;
}
.admin-page .attachment-add-block i:hover{
    color: #009400;
}
.admin-page .attachment-add-block form{
    display: none;
    opacity: 0;
}

/* Right panel - New purchase */

.admin-page .right-panel .items-list.create-purchase-list tbody td:first-child{
    text-align: left;
}

/* Right panel - Users list */
.admin-page.users-listing table.users-list td.td-status{
    text-align: center;
}
.admin-page.users-listing table.users-list td.td-status i.fa-times{
    color: #bf1b1b;
}
.admin-page.users-listing table.users-list td.td-status i.fa-check{
    color: green;
}
.admin-page.users-listing table.users-list input[type=submit]{
    display: block;
    color: #049e72;
    background: 0 0;
    border: 1px solid #049e72;
    padding: 3px 11px;
    border-radius: 10px;
    cursor: pointer;
    text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.admin-page.users-listing table.users-list input[type=submit]:hover{
    color: #fff;
    background: #049e72;
}
/********** 15. LOGIN PAGE **********/
.login-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.login-page .login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.login-page .form-section{
    margin: 0 0 7px 0;
}
.login-page .form-section label{
    line-height: 1.7em;
}
.login-page .form-section a{
    color: #049e72;
    text-decoration: none;
}
.admin-page .lost-password-section{
    padding: 5px 0 0 0;
}
.login-page .form-section a:hover{
    text-decoration: underline;
}
.admin-page .lost-password-section input[type=submit]{
    display: block;
    margin: 0 auto 10px auto;
}
.admin-page .messages{
    margin: 0 0 15px 0;
}
.admin-page .messages ul{
    list-style: none;
}
.admin-page .messages ul li{
    font-size: 1.1em;
    line-height: 1.2em;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #1d8028;
}
.admin-page .e-mail-section{
    max-width: 380px;
    margin: 0 auto;
}
.admin-page .messages ul li.error{
    color: #d42016;
}

/********** 16. PASSWORD RESET PAGE **********/
/* RESET PAGE - Email  */
.password-reset-email-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.password-reset-email-page form{
    position: absolute;
    width: 100%;
    max-width: 630px;
    padding: 0 5%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 2;
}
.password-reset-email-page .form-group{
    margin: 0 0 7px 0;
}
.password-reset-email-page .form-group label{
    display: inline-block;
    margin: 0 0 5px 0;
}
.password-reset-email-page h1{
    font-size: 2.5em;
    line-height: 1.8em;
    color: #4e4e4e;
}
.password-reset-email-page form input[type=email]{
    width: 100%;
    max-width: 100%;
}
.password-reset-email-page form label{
    display: inline-block;
    margin: 0 0 10px 0;
}
.password-reset-email-page .submit-block{
    text-align: center;
    padding: 10px 0 0 0;
}
.password-reset-email-page .messages{
    margin: 0 0 15px 0;
}
.password-reset-email-page .messages ul{
    list-style: none;
}
.password-reset-email-page .messages ul li{
    font-size: 1.1em;
    line-height: 1.2em;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #1d8028;
}
.password-reset-email-page .e-mail-section{
    max-width: 380px;
    margin: 0 auto;
}
/* RESET PAGE - New Password  */
.password-reset-new-password-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.password-reset-new-password-page .container{
    position: absolute;
    min-width: 350px;
    padding: 0 2%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 2;
}
.password-reset-new-password-page .form-section{
    margin: 0 0 15px 0;
}
.password-reset-new-password-page label{
    display: block;
    margin: 0 0 4px 0;
}
.password-reset-new-password-page span.help-block{
    display: block;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1em;
    margin: 4px 0 0 0;
    color: #c70e0e;
}
.password-reset-new-password-page h1{
    font-size: 2em;
    line-height: 1.3em;
    color: #4e4e4e;
}
@media screen and (max-width: 360px){
    .password-reset-new-password-page h1{
        font-size: 1.7em;
        line-height: 1.2em;
    }
    .password-reset-new-password-page .container{
        min-width: 235px;
    }
}
@media screen and (max-width: 230px){
    .password-reset-new-password-page .container{
        min-width: 50px;
    }
    .password-reset-new-password-page h1{
        font-size: 1.4em;
        line-height: 1em;
    }
}

/********** 17. 404 PAGE **********/
.error-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.error-page .container{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 2;
}
.error-page .page-section{
    margin: 0 0 7px 0;
}
.error-page h1{
    color: #4e4e4e;
    font-size: 2.7em;
    line-height: 2em;
    white-space: nowrap;
}
.error-page h3{
    color: #4e4e4e;
    font-size: 1.2em;
    line-height: 2em;
    vertical-align: middle;
}
.error-page .back-home-button{
    background: transparent;
    color: #038c65;
    padding: 2px 9px;
    margin: 0 0 0 10px;
    border-radius: 4px;
    border: 1px solid #038c65;
    font-size: 1.3em;
    vertical-align: middle;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.error-page .back-home-button:hover{
    background: #038c65;
    color: #FFF;
}
@media screen and (max-width: 540px){
    .error-page .container{
        width: 100%;
        text-align: center;
        padding: 0 5%;
    }
    .error-page h1 {
        color: #4e4e4e;
        font-size: 2em;
        line-height: 1.5em;
        white-space: normal;
    }
}
